.container.bw-custom-product-price {
    display: flex;
    column-gap: 1rem;
}

.col.bw-custom-product-price {
    max-width: 50%;
    background-color: white;
    padding: 1rem;
}

.input.bw-custom-product-price {
    width: 100%;
}

.input.bw-custom-product-price#new_price {
    text-align: right;
}

.button-container.bw-custom-product-price {
    display: flex;
}

.button-container.bw-custom-product-price .button {
    margin-left: auto;
}

input.bw-input-yes-no {
    width: 35px;
    height: 25px;
}

span.bw-installment-value{
    cursor: pointer;
}
.datepicker-year .ui-datepicker-buttonpane.ui-widget-content,
.datepicker-year .ui-datepicker-calendar {
    display: none;
}

.bw-table-channel-list{
    padding: 1rem;
}
tr.woo-tiny-table-separator th,
tr.woo-tiny-table-separator td {
    color: #000000 !important;
    background-color: #cccccc;
    line-height: 1.4em;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width: 782px){
    .bw-table-channel-list tfoot{
        display: none !important;
    }
}